name: Deploy to Remote Server

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      # Clonar el repositorio
      - name: Checkout code
        uses: actions/checkout@v3

      # Iniciar sesi贸n en DockerHub
      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Construir y subir la imagen de la aplicaci贸n
      - name: Build and push PHP Docker image
        run: |
          
          docker build -t ${{ secrets.DOCKER_USERNAME }}/calculadora:v1 .
          docker push ${{ secrets.DOCKER_USERNAME }}/calculadora:v1

      # Transferir el archivo docker-compose.yaml al servidor remoto
      - name: Transfer docker-compose.yaml to remote server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.REMOTE_KEY }}
          source: ./docker-compose.yaml  # Ensure this points to the correct file
          target: ~/deploy/ # Target file (not a directory)
        
      # Verificar la transferencia del archivo
      - name: Verify transfer of docker-compose.yaml
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.REMOTE_KEY }}
          script: |
            ls -la /var/www/html  # List the contents of the deploy directory to confirm the file is there
            # Also check if it's actually a file and not a directory
            if [ -d /var/www/html/docker-compose.yaml ]; then
              echo "docker-compose.yaml is a directory!"
              exit 1
            fi

      # Verificar la versi贸n de Docker y Docker Compose
      - name: Check Docker and Docker Compose version
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.REMOTE_KEY }}
          script: |
            docker --version
            docker-compose --version

      # Desplegar la aplicaci贸n en el servidor remoto usando docker-compose
      - name: Deploy with Docker Compose
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.REMOTE_KEY }}
          script: |
            cd ~/deploy
            sudo chmod 666 /var/run/docker.sock
            docker-compose -f docker-compose.yaml down || true
            docker-compose -f docker-compose.yaml pull
            docker-compose -f docker-compose.yaml up -d
